@using System.Collections.Immutable
@using BlazorFgr.Core.Primitives.Dispatcher
@using BlazorFgr.Core.Primitives.Resource
@using BlazorFgr.Core.Primitives.Signal
@using BlazorFgr.Core.Rendering

@page "/weather"

@rendermode InteractiveServer

@implements IDisposable

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing data.</p>

<button
    class="btn btn-primary"
    @onclick="() => _reloadWeather.Dispatch(_seed.Get() + 1)">
    <FgrView Value="_reloadWeather">
        @if (context is DispatcherValue.Running)
        {
            <span
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"></span>
        }
    </FgrView>
    <span>Reload Weather</span>
</button>

<FgrView Value="_forecasts">
    @switch (context)
    {
        case ResourceValue<ImmutableArray<WeatherForecast>>.Loading:
            <p>Loading...</p>
            break;
        case ResourceValue<ImmutableArray<WeatherForecast>>.Errored(var ex):
            <p class="text-danger">An error occurred while loading the data:
            <pre>@ex</pre></p>
            break;
        case ResourceValue<ImmutableArray<WeatherForecast>>.Valid(var val):
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th aria-label="Temperature in Celsius">Temp. (C)</th>
                        <th aria-label="Temperature in Fahrenheit">Temp. (F)</th>
                        <th>Summary</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var forecast in val)
                    {
                        <tr>
                            <td>@forecast.Date.ToShortDateString()</td>
                            <td>@forecast.TemperatureC</td>
                            <td>@forecast.TemperatureF</td>
                            <td>@forecast.Summary</td>
                        </tr>
                    }
                </tbody>
            </table>
            break;
    }
</FgrView>

@code {

    private readonly Resource<int, ImmutableArray<WeatherForecast>> _forecasts;
    private readonly Signal<int> _seed;
    private readonly CancellationTokenSource _cts = new();
    private readonly Dispatcher<int> _reloadWeather;

    public Weather()
    {
        _seed = new Signal<int>(0);

        _forecasts =
            new Resource<int, ImmutableArray<WeatherForecast>>(
                () => _seed.Get(),
                async seed =>
                {
                    // Simulate asynchronous loading to demonstrate streaming rendering
                    await Task.Delay(500);

                    var prng = new Random(seed);

                    var startDate = DateOnly.FromDateTime(DateTime.Now);
                    var summaries = new[] { "Freezing", "Bracing", "Chilly", "Cool", "Mild", "Warm", "Balmy", "Hot", "Sweltering", "Scorching" };

                    return [..Enumerable.Range(1, 5).Select(index => new WeatherForecast(startDate.AddDays(index), prng.Next(-20, 55), summaries[prng.Next(summaries.Length)]))];
                });

        _reloadWeather =
            new Dispatcher<int>(
                async seed =>
                {
                    await Task.Delay(1000);

                    _seed.Set(seed);
                });
    }

    private record WeatherForecast(DateOnly Date, int TemperatureC, string? Summary)
    {
        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }

    public void Dispose() => _cts.Dispose();

}
